<div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg"
style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="light">
<img src="{{image}}" class="w-full h-64" />
<a href="{{uri}}">
  <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.5)">
    <div class="flex justify-start items-end h-full">
      <div class="text-white m-6">
        <h5 class="font-bold text-lg mb-3 uppercase">
          {{title}}
        </h5>
      </div>
    </div>
  </div>
</a>
</div>
