<section
    class="text-center text-gray-800 py-28"
    style="background-color: #f6f6f6"
>
    <div class="container mx-auto max-w-7xl px-5 py-5">
        <h2 class="mb-12 text-3xl font-bold text-center uppercase">
            {{title}}
        </h2>
        <div class="flex flex-wrap mt-6 mb-4 -m-3">
            {{popular_entries}}
            <div class="w-full p-3 xl:w-1/4 md:w-1/2">
                {{partial:components.overlay_card}}
            </div>
            {{/popular_entries}}
        </div>

        {{partial:components.button}}
    </div>
</section>
