<section
  class="relative bg-cover bg-center bg-no-repeat" style="background-image: url('{{image}}'); background-attachment: fixed;" >
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:bg-gradient-to-r sm:from-white/95 sm:to-white/25"
  ></div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-[70vh] lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-center sm:text-left">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        {{title}}
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl sm:leading-relaxed">
        {{description}}
      </p>

      <div class="mt-8 flex justify-center lg:justify-start gap-4 text-center">
        {{ partial:components.buttons.button }}
      </div>
    </div>
  </div>
</section>
