<section class="mb-2 text-gray-800 text-center lg:text-left background-radial-gradient">

  <div class="relative overflow-hidden bg-no-repeat bg-cover" style="
        background-position: 50%;
        background-image: url('{{featured_image}}');
        height: 500px;
      ">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
      style="background-color: rgba(0, 0, 0, 0.55)">
      <div class="flex justify-center items-center h-full">
        <div class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]">
          <h2 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight leading-tight mb-12">
           {{title}}
          </h2>
          <!-- <p class="text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officia
            consequatur adipisci tenetur repudiandae rerum quos.
          </p> -->
        </div>
      </div>
    </div>
  </div>

</section>
