<section class="bg-ancent-100 dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:py-16 lg:px-6">
      <div class="max-w-screen-md">
          <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-brand-300">{{title}}</h2>
          <p class="mb-8 font-medium text-gray-600 sm:text-xl">{{description}}</p>
          <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
            {{partial:components.buttons.button}}
          </div>
      </div>
  </div>
</section>