<section style="background-color: {{background_color}};" class="flex items-center justify-center">
    <div
        class="w-full px-4 py-12 2xl:mx-auto 2xl:container sm:px-6 xl:px-20 2xl:px-0"
    >
        <div class="flex flex-col items-center space-y-10 jusitfy-center">
            <div class="flex flex-col items-center justify-center mb-8">
                <h1
                    class="text-3xl font-semibold leading-7 text-gray-800 capitalize xl:text-4xl xl:leading-9 dark:text-white"
                >
                {{title}}
                </h1>
            </div>
            {{partial:components.product_category}}
        </div>
    </div>
</section>
